# Python
*.pyc
__pycache__/

# Virtual Environments
venv/
env/
ENV/
.venv/

# IDE Files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Environment Variables
.env
.env.local
.env.*.local
*.key
*.pem
secrets/

# Secrets
secrets.json
